<table class="racer_table">
<p> <%= current_player_one.initials%> </p>
  <tr id="player1" data-initials = "<%= current_player_one.initials%>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td>    
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
  </tr>
  <p> <%= current_player_two.initials%> </p>
  <tr id="player2" data-initials = "<%= current_player_two.initials%>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td>    
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
    <td></td> 
  </tr>
</table>

<script>
    var playerOneInitials = '<%= @player_one_initials %>';
    var playerTwoInitials = '<%= @player_two_initials %>';
</script>
